wordpress/wp-admin
wordpress/wp-content/themes
wordpress/wp-content/index.php

wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/wordpress-fun

wordpress/wp-includes
wordpress/.htaccess
wordpress/*.php
wordpress/*.html

# ignore log files and databases
*.log
*.sql
*.sqlite
*.txt